:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
  padding: 1em 2em;
  border-radius: 5px;
}
a:hover {
  color: white;
  background-color: #F99417;
  filter: drop-shadow(0 0 2em #f99417);
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(93, 56, 145);
}
p{
  color: rgb(93, 56, 145);
  
}


.logo {
  height: 6em;
  will-change: filter;
  color: rgb(93, 56, 145);
}
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
} */

/* .card {
  padding: 2em;
} */

/* .read-the-docs {
  color: #888;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

.nav-container{
  /* align-self: flex-start;*/
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.button{
  background-color: rgb(93, 56, 145);
  color: white;
  transition: transform 0.5s ease;
  
}
.button:hover{
  filter: drop-shadow(0 0 2em rgb(93, 56, 145));
  transform: translateY(-5px)
}
.button:active{
  filter: drop-shadow(0 0 2em rgb(93, 56, 145));
  transform: scale(0.95);
}

.container{
    height:1080px ;
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:2rem 5rem 0rem 5rem;
    overflow: hidden;
}

.nav-list{
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list>li{
  margin: 0 2rem;
  
}

header{
    width: 50vw;
}

.hero-container{
  height: 100vh;
  width: 100%;
  display: flex;
}

.left-sec{
  height: 100%;
  /* width: 100%; */
  flex-basis: 40%;
  /* background: #535bf2; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.right-sec{
  height: 100%;  
  /* background: #f7df1e; */
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallary{
  height: 60%;
  flex-basis: 80%;
  display: grid;
  gap: 1.44rem;
  grid-template-columns: repeat(2,1fr);
  grid-auto-rows: 200px
}

.box{
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

#box1{
  background-position: center;

}

#box2{
  background-position: center;
}

#box3{
  background-position: center;
}



#box1:hover{
  grid-column: span 2/ auto;
}
#box3:hover{
  grid-column: span 2/ auto;
}

#box2:hover{
  grid-row: span 2/ auto;
}

